apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring
commonAnnotations:
  app.kubernetes.io/created-by: kustomizer
  endpointslice.kubernetes.io/managed-by: controller
  pod-security.kubernetes.io/audit: baseline
  pod-security.kubernetes.io/warn-version: latest

resources:
- namespace.yml
- loki/
- prometheus/
# - promtail/
- tempo/
- mimir/
- grafana/
- alloy/
- pyroscope/
- beyla/
