---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  app: grafana

resources:
  - grafana-cm.yml
  - deployment.yml
  - service.yml

# configMapGenerator:
#   - name: grafana-datasource
#     files:
#       - grafana-cm.yml
